.motor-dc {
    border: solid 1px #eeeeee ;
    margin-bottom: 0.8rem;
    border-radius: 1.4em;
    max-width: 1366px!important;
}
.motor-dc.container {
    padding-top: 6em;
}
.page-button {
    display: flex;
    font-weight: 600;
    position: absolute;
    top: -5em;
    left: 1em;
    width: 10%;
    margin:0!important;
}
.page-button a{
    margin-right: 0.2em;  
    width: 1.8em;
    height: 1.8em;
    border: solid 1px #eeeeee ;
    border-radius: 0.4em;
    color: #FBFCFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-button a:hover{
    background-color: rgba(230,230,230,0.4);
    border-color: #eeeeee;
    color: #485563;
    text-decoration: unset;
}
.page-button a:active{
    background-color: #485563BB;
    border-color: white;
    color: #aaaaaa;
    border-width: 2px;
}
.motorT-box, .driveT-box, .current-box, .torque-box, .power-box, .otime-box {
    color: white;
    margin: 1rem 4rem 2rem 1rem;
    height: 8.8em;
    width: 12em;
    border-radius: 1.4em;
    position: relative;
} 
.current-and-torque .current-box, .torque-box {
    border: solid 0.04em #8ec5fc; 
    box-shadow: 0 0 0.4em 0.1em #e0c3fc;
}
.current-and-torque .current-box .dc, .torque-box .dc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.thermal .motorT-box, .driveT-box {
    border: solid 0.04em #43e97b; 
    box-shadow: 0 0 0.4em 0.1em #38f9d7;
}

.thermal .motorT-box .dc, .driveT-box .dc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.power-box {
    border: solid 0.04em #4facfe; 
    box-shadow: 0 0 0.4em 0.1em #00f2fe;
}

.power-box .dc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dc .text {
    position: absolute;
    font-size: 1.5em;   
    right: 2.5em;
    top: 1.5em;
}
.dc .unitText {
    position: absolute;
    right: 1.2em;
    top: 1.2em;
}
.torque-box .dc .unitText {
    right: 0.6em;
}
.power-box .dc .unitText {
    right: 0.9em;
}
.dc .text .blink {
    color: #D60000;
}
.otime-box {
    margin-top: 0;
    margin-bottom: 0;
}
.trend-button {
    position: absolute;
    top: 6.4em;
    right: 3.2em;
    width: 6em;
    height: 2em;
    border: solid 1px #dddddd;
    border-radius: 1.4em;
    padding-top: 0.2em;
    padding-left: 2.2rem;
    transition: background-color 300ms ease-in-out;
    z-index: 10;
}
.trend-button:hover {
    background-color: rgba(230,230,230,0.4);
    border-color: #eeeeee;
    color: #485563;
}

.trend-button:active {
    background-color: #485563BB;
    border-color: white;
    color: #aaaaaa;
    border-width: 2px;
}

.motor-dc {
    max-width: 1366px!important;
    margin: 0.01em auto;
    border-radius: 1.4em;
    padding-top: 1em;
}

.tc-box {
    border: solid 0.5px #eeeeee55;
    background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(221,221,238,0.4) 100%);
    border-radius: 1.2em;
    width: 33em;
    height: 16em;
    padding: 1em 1em 1em 1em; 
}
.hide {
    display: none;
}
.tc-box .exit-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    height: 1em;
    width: 1em;
    font-size: 2rem;
    position: absolute;
    top: -0.3em;
    right: 1.0em;
    transition: color 100ms ease-in-out;
    color: #111111dd;
    z-index: 9;
}
.tc-box .exit-button:hover {
    color: #eeeeee;
}
.tc-box .exit-button:active {
    color: #aaaaaa;
}
.temp .yAxis-name {
    left: 4.4em;
}
.motor-1-pic {
    display: flex;
    width: 10em;
}
.motor-1-pic .fas.fa-radiation-alt {
    margin-top: 0.2em;
    font-size: 10em;
}
.emrg {
    color: red;
}
.motor-image {
    margin-right: 6em;
    width: 316px;
    height: 267px;
}
.tc-box .recharts-wrapper {
    padding-top: 20px;
}

.tc-box .fas.fa-pause {
    position: absolute;
    font-size: 0.5em;
    border-radius: 2em;
    align-self: center;
    justify-self: center;
    width: 3em;
    height: 3em;
    padding-top: 0.9em;
    text-align: center;
    right: 17rem;
    top: 7rem;
    color: white;
    opacity: 0;
    background: rgba(2,2,2,0.2);
    transition: transform 0.1s ease-in-out;
}
.area-chart-wrapper:active .fas.fa-pause {
    opacity: 1;
    transform: scale(3);
}
.stop-all-trend {
    margin: auto;
    margin-top: 1em;
    padding-top: 0.1em;
    letter-spacing: 1px;
    font-size: 1.2em;
    text-align: center;
    border: solid 1px white;
    border-radius: 8px;
    height: 2.4rem;
    width: 8rem;
    cursor: pointer;
    transition: all 0.3s; 
}
.stop-all-trend:hover {
    background-color: #eeeeff;
    border-color: #eeeeee;
    color: #485563;
}

.stop-all-trend:active {
    background-color: #CDD5D1;
    border-color: #E85F5C;
    color: #E85F5C;
    border-width: 2px;
    font-weight: 700;
}
.motor-dc .dc-tribtn-adjust {
    display: flex;
    flex-direction: column;
    position:absolute;
    top: -6.5em;
    left: 13em;
    height: 10.5rem;
    width: 6rem;
    z-index: 5;
    border-radius: 0.3em;
}
.motor-dc .current-box .dc-tribtn-adjust,.motorT-box .dc-tribtn-adjust {
    left: -7em;
}

.motor-dc .power-box .dc-tribtn-adjust{
    top: 2em;
    left: 12.5em;
}

.motor-dc .dc-adjust-tribtn-input {
    z-index: 3;
    background: rgba(221,221,238,0.1);
    border:none;
    height: 1.8rem;
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 0.15rem;
    color: white;
}
.motor-name {
    font-weight: 500;
    text-align: center;
    font-size: 1.4em;
    color: #E9E3B4;
}
.motor-dc.container .control-status {
    top: -2em;
    right: 20em;
    height: 6em;
    display: flex;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    flex-direction: column;
}
@media screen and (max-width:880px) {
    .page-button {
        top: -1.5em;
        left: 19.5em;
        width: 16%;
    }
    .motor-dc.container {
        padding-top: 2em;
    }
    .motor-1-pic .motor-image {
        margin-left: 0em;
    }
    .motor-1-pic .fas.fa-radiation-alt {
        margin-top: 0.4em;
        margin-left: 0.8em;
        font-size: 5em;
    }
    .motor-dc.container .warn-panel {
        width: 100%;
        height: 26.4rem;
        padding-bottom: 1em!important;
    }
    .motor-dc.container .warn-panel-content {
        font-size: 0.9em;
        height: 70%;
        padding-bottom: 1em!important;
    }
    .motor-dc.container .warn-item {
        margin-bottom: 0.5em;
        width: 98%;
        height: 20%;
        grid-template-columns: 23% 15% 30% 32%;
    }
    .motor-dc.container .warn-panel-header{
        height: 17%!important;
    }
    .motor-dc.container .warn-panel-header .title, .class-title, .current-pag {
        top: 10.5em;
        left: 3em;
        font-size:15px;
    }
    .motor-dc.container .warn-amount {
        font-size: 15px;
        left: 3em!important;
        top: 12.5em;
    }
    .motor-dc.container .current-page{
        top:13.5em!important;
        left: 14em!important;
    }
    .motor-dc.container .class-title {
        left: 13em!important;
    }
    .warn-panel-header .fault-filt-btn, .warn-filt-btn, .all-filt-btn {
        top: 9.8em;
        width: 1.6em;
        height: 1.6em;
    }
    .pagination {
        top: 41em;
    }
    .jmp-to-current-btn {
        bottom: 1.9em;
    }
    .operate-time {
        line-height: 28px;
        margin-bottom: -2px;
    }
    .tc-box{
        width: 22em;
        height: 13em;
        margin-bottom: 1em;
    }
    .tc-box .recharts-wrapper{
        width: 300px!important;
        height: 165px!important;
    }
    .tc-box .recharts-surface {
        width: 300px!important;
        height: 165px!important;
    }
    .area-chart-wrapper {
        width: 250px;
        margin: 0!important;
    }
    .yAxis-name {
        font-size: 0.9em;
        margin-bottom: 0;
        top: 1.6em;
        font-weight: normal;
    }
    .xAxis-name {
        font-size: 0.9em;
        font-weight: normal;
        top: 12.3em;
        left: 13em;
    }
    .tc-box .review-btn, .forw-btn {
        width: 2em;
        height: 12em;
    }
    .forw-btn{
        left: 21em;
    }
    .dc .text {
        font-size: 1.2em;
        right: 3.5em;
        top: 2em;
    }
    .tc-box .fas.fa-pause {
        right: 21em;
        top: 11em;
    }
    .dc-tribtn-adjust {
        top: 0em!important;
        left: 13em!important;
    }
    .motor-dc.container .control-status {
        top: -1em;
        right: 11em;
        height: 4em;
    }
    .control-status .led-box {
        font-size: 0.7em;
    }
    .motor-name {
        font-size: 1em;
        margin-left: 3em;
        white-space: nowrap;
    }
}