.operate-time {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 1.2em; 
    font-weight: 300; 
    line-height: 48px; 
    margin: 0 0 24px; 
    padding: 0 30px; 
    text-align: center; text-transform: uppercase; 
}